<html>
<head>
	<title>Biology quiz 1</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body style="background-color: lightgray;">
  
  <form method="POST" action="" >
          {% csrf_token %}
	         {% for c in b1 %}
        <p style="color: red;">{{c.que}}</p>
        <input type="radio" value="{{c.op1}}" name="{{c.que}}" id="r1">{{c.op1}}<br>
        <input type="radio" value="{{c.op2}}" name="{{c.que}}" id="r2">{{c.op2}}<br>
        <input type="radio" value="{{c.op3}}" name="{{c.que}}" id="r3">{{c.op3}}<br>
        <input type="radio" value="{{c.op4}}" name="{{c.que}}" id="r4">{{c.op4}}<br>
        <br><br>
            {% endfor %}
         <button type="submit" class="btn btn-danger">Submit</button>
     </form>

</body>
</html>